{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="container">
    {% for program in programs %}
        <div class="card">
            <div class="card-header">
                <img style="max-width: 250px;" class="image-fluid" src="{{ program.poster }}"/>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <p class="card-text">{{ program.summary }}</p>
                <a href="{{ path("wild_show", {slug:program.title}) }}" class="btn btn-primary">Show </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
